/*https://coolors.co/0d1b2a-1b263b-415a77-778da9-e0e1dd*/

.td-center {
  text-align: center;
}

/*
.card-header {
  color: #e0e1dd;
  background-color: #0d1b2a;
}

.card-body {
  color: #e0e1dd;
  background-color: #1b263b;
}

.table-responsive {
  color: #e0e1dd;
  background-color: #1b263b;
}
*/
