<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <!--Filter-by box-->
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-4'>Filter Guests by:</div>
      <div class='col-md-4'>
        <input type='text'
        [(ngModel)]='listFilter' />
      </div>
    </div>
  </div>

  <!--Filter-by text-->
  <div class="card-body">
    <div class="table-responsive" style="padding-left: 5%;padding-right: 5%;">
      <table class="table">
        <thead>
          <tr>
            <th class='col-md-2'>
              <button class="btn btn-primary" (click)='toggleRSVP()'>
                {{onlyRSVP ? 'Show all' : 'Only RSVP'}}
              </button>
            </th>
            <th class='col-md-2' style="text-align: left;">
              Filtered by: {{listFilter}}
            </th>
          </tr>
        </thead>
      </table>
    </div>


  <!--Guest List Table-->
  <div class="table-responsive" style="padding-left: 5%;padding-right: 5%;">
    <table class="table" *ngIf='guests.length'>
      <thead>
        <tr class="td-center">
          <th>
            <button class="btn btn-primary" (click)='toggleImage()'>
              {{showImage ? 'Hide' : 'Quick Look'}}
            </button>
          </th>
          <th>
            <span style="padding-left: 5%;padding-right: 5%;">Guest Name</span>
            <button class="btn-outline-secondary" (click)='sortGuestName()'>
              <img [src]='filterUrl' [style.width.px]='15'>
            </button>
          </th>
          <th>
            <span style="padding-left: 5%;padding-right: 5%;">Invite Sent</span>
            <button class="btn-outline-secondary" (click)='sortInviteSent()'>
              <img [src]='filterUrl' [style.width.px]='15'>
            </button>
          </th>
          <th>
            <span style="padding-left: 5%;padding-right: 5%;">RSVP</span>
            <button class="btn-outline-secondary" (click)='sortRSVP()'>
              <img [src]='filterUrl' [style.width.px]='15'>
            </button>
          </th>
          <th>
            <span style="padding-left: 5%;padding-right: 5%;">Number of Guests</span>
            <button class="btn-outline-secondary" (click)='sortNumberOfGuest()'>
              <img [src]='filterUrl' [style.width.px]='15'>
            </button>
          </th>
        </tr>
      </thead>

      <tbody>
        <!--Table Body Auto-populate-->
        <!--tr - table row          -->
        <!--td - table data         -->
        <tr class="td-center" *ngFor='let guest of filteredGuests'>
            <td>
              <div *ngIf='guest.rsvp && showImage'>
                <img [src]='greenCheckUrl'
                      [style.width.px]='imageWidth'>
              </div>

              <div *ngIf='!guest.rsvp && showImage'>
                <img [src]='redCheckUrl'
                      [style.width.px]='imageWidth'>
              </div>

            </td>
            <td style="padding-left: 2.5%; text-align: left;">{{guest.name | titlecase}}</td>
            <td>{{guest.invited? 'yes' : 'no'}}</td>
            <td>{{guest.rsvp ? 'yes' : 'no'}}</td>
            <td>{{guest.rsvp ? guest.numberofGuests : guest.numberofGuests}}</td>
        </tr>

        <!--Number of Guests Sum-->
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td style="font-weight: bold;text-align: left;">
            <div>Total Guests:</div>
            <div>Guests Attending:</div>
          </td>
          <td style="font-weight: bold;text-align: center;">
            <div>{{totalNumberOfGuests}}</div>
            <div>{{totalGuestsAttending}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
