.card {
  background-color: #003049;
  color: #fdf0d5;
}

.card-header {
  background-color: #c1121f;
  color: #fdf0d5;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}

.card-body {
  background-color: #003049;
  color: #fdf0d5;
}

/*
#780000 - wine
#C1121F - red
#FDF0D5 - cream -- text
#003049 - navy
#669BBC - teal
*/
