<!--The content below is only a placeholder and can be replaced.-->
<div class="title">{{pageTitle}}</div>
  <nav class='navbar navbar-expand navbar-light bg-dark'>
    <a class='navbar-brand'></a>
    <ul class='nav nav-pills'>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/welcome'>Home</a></li>
      <li><a class='nav-link' routerLinkActive='active' routerLink='/guests'>Guest List</a></li>
    </ul>
  </nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
